/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    border: 1px solid red;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
html, body {
	height: 2000px;
	width: 1000px;
}

body {
	width: 1000px;
	/*margin: 20px auto;*/
}


.top-container {
	width: 1000px;
	height: 55px;
	margin: 0px 0px 60px 0px;
	position: fixed;
	top: 0;
	background-color: #3333339c;
	
}

.top-nav {
	width: 790px;
	text-align: center;	
	display: inline-block;
	
}
nav {
	/*text-align: center;	*/
}

.top-nav a {
	margin: 0px 30px 0px 30px;
	height: 55px;
	line-height: 55px;
	text-decoration: none;
	color: white;
	display: inline-block;
}

.top-logo {
	/*width: 183px;*/
	display: inline-block;
	
	height: 55px;
	line-height: 55px;
	vertical-align: -webkit-baseline-middle;

}

.logo {
	
	
	margin-right: 20px;
}

.top-header {
		width: 100%;
	height: 400px;
	text-align: center;	
	margin-top: 140px;
	
}

.top-h1 {
	font-size: 80px;
	display: inline-block;
}

.header-img {
	display: inline-block;
	float: right;
	/*margin-right: 20px;	*/
}
.button1 {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 7px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}

.top-sec-container {
	width: 880px;
	height: 140px;
	margin: 10px 60px;
}
.top-section {
	box-sizing: border-box;
	border-top: 1px solid black;
	width: 880px;
	/*height: 150px;*/
	text-align: center;
	display: inline-block;
}

.mid-text {
display: inline-block;
width: 390px;
margin: 20px;
text-align: left;
/*border: 1px solid black;*/
}
.p1 {
	/*width: 400px;*/
}

.mid-img {
	text-align: center;
	margin-bottom: 20px;
}

.bottom-sec-container {
	width: 880px;
	height: 200px;
	margin: 10px 60px;
}

.bottom-section {
	box-sizing: border-box;
	border-top: 1px solid black;
	width: 100%;
	height: 200px;
	text-align: center;
	padding: 10px;
}

.bottom-text {
display: inline-block;
width: 250px;
margin: 20px 20px 20px 0px;
text-align: left;

}

.contact {
display: inline-block;
width: 100%;
margin: 50px;
margin-left: 74px;
text-align: left;
line-height: 20px;

}

.copyright {
  padding: 20px 0;
   /*======= center the text here */
   text-align: center;